body {
	margin: 0;
	padding: 0;
	line-height: 1.7em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
    background: #0f100e url(images/main_bg.jpg) repeat-x top;
}
		
a:link, a:visited { color: #0066CC; text-decoration: none; font-weight: normal; } 
a:active, a:hover { color: #CC0000; text-decoration: underline; }

p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: none; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.margin_r_15 { margin-right: 15px; }

.button_01 a {
	float: right;
	clear: both;
	display: block;
	width: 120px;
	height: 25px;
	padding: 5px 0 0 0;
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background: url(images/button_01.png) no-repeat;
}

h1 {
	margin: 0px;
	padding: 2px 0;
	font-size: 30px;
	font-weight: bold;
}

h2 {
	margin: 0 0 10px 0;
	padding: 2px 0;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	color: #000000;
}

h3 {
	margin: 0 0 10px 0;
	padding: 2px 0;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
	border-bottom: 1px solid #333;
}

.image_wrapper {
	margin-top: 3px;
	margin-bottom: 5px;
	border: 5px solid #e8e8e8;
	padding: 1px;
	background: #fff;
}

.fl_image {
	float: left;
	margin-right: 30px 
}

.fr_image {
	float: right;
	margin-left: 20px 
}


/* site title */

#site_title_bar_wrapper {
	width: 100%;
	height: 80px;
	margin: 0 auto;	
	background:  url(images/site_title_wrapper.jpg) top center no-repeat;
}

#site_title_bar {
	width: 960px;
	height: 80px;
	margin: 0 auto;
	padding: 0 10px;
	overflow: hidden;
	background: url(images/site_title_bg.jpg) top center no-repeat;
}

#site_title {
	float: left;
	margin: 0px;
	padding: 25px 0 0 0;
}

#site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 24px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#site_title h1 a:hover {
	font-weight: bold;	
	text-decoration: none;
}

#site_title h1 a span {
	display: block;
	font-size: 13px;
	color: #000000;
	font-weight: bold;
	margin-left: 5px;
}

#site_title_bar #search_box {
	float: right;
	width: 280px;
	height: 30px;
	margin: 0 10px 0 0;
	padding: 10px 0 0 0;
}

#search_box form {
	float: left;
	width: 280px;
	height: 30px;
	margin: 0;
	padding: 0;
}

#searchfield {
	height: 20px;
	width: 195px;
	padding: 6px 5px 4px 5px;
	margin: 0px;
	color: #ffffff;
	font-size: 12px;
	font-variant: normal;
	line-height: normal;
	background: none;
	border: none;	
}

#searchbutton {
 	height: 30px;
	width: 70px;
	margin: 0px;
	padding: 6px 0;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	color: #ffffff;
	background: none; 
	border: none;
}

/* menu */

/* banner */

#banner_wrapper {
	clear: both;
	width: 100%;
	height: 270px;
	margin: 0 auto;	
	background: url(images/banner_wrapper.jpg) no-repeat center top;
}

#banner {
	width: 960px;
	height: 270px;
	padding: 0 10px;
	margin: 0 auto;
	background: url(images/banner_bg.jpg) no-repeat center top;
}

#banner_slider {
	clear: both;
	width: 960px;
	height: 250px;
	overflow: hidden;
	margin-bottom: 10px;
	padding: 20px 0 0 0;
}

/* end of banner */

/* end of menu */

#menu_wrapper {
	clear: both;	
	width: 100%;
	height: 50px;
	margin: 0 auto;	
	background: url(images/menu_wrapper.jpg) top center no-repeat;
}

#menu {
	clear: both;
	width: 980px;
	height: 50px;
	margin: 0 auto;
	background: url(images/menu_bg.jpg) top center no-repeat;
}

#menu ul {
	width: 780px;
	margin: 0 auto;
	padding: 10px 0 0 0;
	list-style: none;
}

#menu ul li {
	padding: 0;
	margin: 0px;
	display: inline;
}

#menu ul li a {
	float: left;
	display: block;
	width: 120px;
	height: 25px;
	padding: 5px 0 0 0;
	margin: 0 10px 0 0;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;	
	outline: none;
}

#menu li a:hover, #menu li .current {
	color: #000000;
	background:url(images/button_01.png) no-repeat;
}

#menu li .last {
	margin-right: 10px;
}

/* end of menu */

/* content */

#content_wrapper {
	clear: both;	
	width: 100%;
	margin: 0 auto;	
	background: url(images/content_wrapper.jpg) top center no-repeat;
}

#content {
	width: 960px;
	margin: 0 auto;
	padding: 30px 10px;
	background: url(images/content_bg_middle.png) repeat-y center;
}

#content_bottom {
	width: 980px;
	height: 15px;
	margin: 0 auto;
	background: url(images/content_bg_bottom.png) no-repeat center top;
}

#content p {
	margin-bottom: 10px;
}

.section_w960_p15 {
	clear: both;
	width: 940px;
	padding: 0 15px;
}

.section_w960_p30 {
	clear: both;
	width: 910px;
	padding: 0 30px;
}

.box {
	float: left;
	width: 300px;
	background: url(images/box_01_middle.jpg) repeat-y;
}

.box_top {
	width: 300px;
	height: 5px;
	background:url(images/box_01_top.jpg) no-repeat;
}

.box_bottom {
	width: 300px;
	height: 15px;
	background: url(images/box_01_bottom.jpg) no-repeat;
}

.box .box_content {
	padding: 15px 20px 15px 20px;
}

.box h2 {
	color: #9b1919;
	font-size: 16px;
	margin-bottom: 20px;
}

.box .box_image_wrapper {
	display: block;
	text-align: center;
	margin-bottom: 10px;
}

.em_text {
	font-size: 14px;
	color: #000;
}

/* footer */

#footer {
	width: 960px;
	margin: 0 auto;
	padding: 40px 10px;
	color: #cccccc;
}

#footer  a {
	color: #ffffff;
}

#footer .section_w240 {
	float: left;
	width: 200px;
	padding-right: 40px;
}

#footer .section_w240 h3 {
	width: 175px;
	height: 30px;
	font-size:14px;
	font-weight: bold;
	color: #ffffff;
	
}

#footer .footer_list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}


#footer .footer_list li {
	margin: 0px;
	padding: 3px 0;
}

#footer .footer_list li a {
	color: #cccccc;
}

#footer .footer_list li a:hover {
	color: #FFFF00;
	text-decoration: none;
}
/* end of footer */
